.author-dabge-container {
  display: flex;
  background: black;
  color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  border-radius: 20px;
  margin-left: 1px;
  margin-right: 1px;
}

.author-dabge-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  align-items: center;
  margin-right: 20px;
}