.publicPost {
    background: url("../../assets/imagens/color-sharp.png");
    background-color: black;
    margin-top: 1px;
    border-radius: 20px;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    background-repeat: repeat-y;
    padding-top: 50px;
}

.titlePostCard {
    text-align: center;
    font-size: 50px;
    margin-bottom: -50px;
}

.publicImg {
    display: flex;
    padding: 100px;
}

.publicTextAling {
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.titleCard {
    font-size: 30px;
    margin-bottom: 10px;
}